header {
    background: white;
}
header nav {
    display: flex;
    align-items: center;
}

header nav .logo {
    height: 2.5rem;
    margin-left: 4rem;
}

header nav .logo img {
    height: 100%;
}

header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

header nav ul li {
    margin-left: 2rem;
}